@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body {
    background-image: url(../img/sw.jpg);
    background-size: cover;
}

.heroes-cards {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.hero-card {
    background: rgba(225, 225, 225, 0.5);
    margin: 3% 2%;
    border-radius: 15px;
    display: block;
    box-sizing: border-box;
    height: 230px;
    position: relative;
}

.hero-card:hover {
    background: rgba(225, 225, 225, 0.8);
    transform: scale(1.1);
    color: blue;
}

li {
    list-style: none;
    font-size: 16px;
    font-family: 'Libre Baskerville', serif;
}

ul {
    padding: 0 30px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin: 10% 0;
    font-family: 'Libre Baskerville', serif;
}

.btn_save {
    font-size: 18px;
    padding: 5px 10px;
    letter-spacing: 2px;
    font-family: 'Libre Baskerville', serif;
    position: absolute;
    top: 210px;
    left: 25px;
}

