/*--------------Task 1---------------*/
h2 {
    position: absolute;
}

.timer {
    position: relative;
    top: 75px;
    margin: 20px auto;
    width: 30%;
    min-width: 225px;
    border-radius: 25px;
    height: 180px;
    background-color: black;
    box-shadow: 0px -11px 11px #000;
    padding-top: 30px;
}

.timer_screen {
    margin: 0 auto 10px auto;
    width: 70%;
    background-color: aliceblue;
    padding: 24px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    letter-spacing: 4px;
    
}

.button_list {
   margin: 20px 7% 0 7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.button {
    display: inline-block;
    padding: 15px;
    border-radius: 45px;
    font-size: 16px;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.button:first-of-type {
    background-color: rgba(39, 211, 76, 0.5);
}

.button:last-of-type {
    background-color: rgba(88, 88, 88, .5);
}

.button:nth-child(2) {
    background: rgba(231, 40, 40, 0.5);
}

.button:active {
    transform: scale(.9);
}

.button:hover {
    border: 2px solid #fff;
    cursor: pointer;
}

.black{
    background: black;
    color: #fff;
}
.silver{
    background: rgba(88, 88, 88, .5);
    color: #000;
}
.red{
    background: rgba(231, 40, 40, 0.5);
    color: #000;
}
.green{
    background: rgba(39, 211, 76, 0.5);
    color: #000;
}


/*-----------------Task 2--------------------*/

#header_task2 {
    top:295px;
}

form {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 24px;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 20px;
}

#get_number {
    width: max-content;
    background-color: rgb(245, 144, 3);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px 15px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    display: inline-block;
}

#get_number::placeholder {
    color:#fff;
}

#submit_btn {
    margin-top: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
    font-weight:500;
    font-size: 1rem;
    padding: 10px 30px;
    background-color: #1dc100;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #fff;
    margin-right: 5px;
}

#reset_btn_number {
    margin-top: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
    font-weight:500;
    font-size: 1rem;
    padding: 10px 25px;
    background-color: hsl(0, 100%, 50%);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #fff;
    margin-left: 5px;
}

#reset_btn_number:active {
    transform: scale(.9);
}

#reset_btn_number:hover {
    box-shadow: 0px 4px 35px 3px rgb(250, 34, 34);
    border: rgb(255, 0, 0);
    cursor: pointer;
}

#submit_btn:active {
    transform: scale(.9);
}

#submit_btn:hover {
    box-shadow: 0px 4px 35px 3px #29ff03;
    border: #1dc100;
    cursor: pointer;
}

/*------------------Task 3--------------------*/

#header_task3 {
    top: 500px;
}

#container {
    width: 40%;
    height: 400px;
    margin: 30px auto;
    position: relative;
    top: 140px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

img {
    width: 100%;
    height: 100%;
}
