
body {
    border: 2px solid black;
    display: inline-block;
    margin: 5% 19%;
}

header {
    border: 5px solid red;
    width: 800px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rez {
    color: blueviolet;
    font-weight: 500;
}

main {
    display: grid;
    grid-template-columns: 100px 700px;
    align-items: center;
    justify-items: center;
    border: 4px solid orange;
    height: 400px;
    line-height: 2rem;
}

section {
    width: 100%;
    border-left: 4px solid orange;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: blue;
    font-weight: 600;
}

footer {
    border: 5px solid black;
    width: 800px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}