.shorts_search {
    display: flex;
    margin-top: 55px;
    margin-bottom: 24px;
}

.shorts__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 15%;
    margin-right: 120px;
}

.right_arrow {
    margin: 0 8px 0 16px;
}

.icon_home {
    margin: 0 10px 5px 0 ;
}

.shorts__nav-item:last-child {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #000;
}

.shorts__nav-item:first-child {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #000;
}

#shorts__search-input::placeholder {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 64px;
    color: #C4C4C4;
    
}
.shorts__search-input {
    flex: 0 1 76%;
}

#shorts__search-input {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 64px;
    border: none;
    border-bottom: 2px solid #C4C4C4;
    display: inline-block;
    width: 100%;
    line-height: 95px;
    color: #C4C4C4;
}

#shorts__search-input:focus {
    outline: none;
}

#shorts__catalog {
    background-color: #E5E5E5;
}

.shorts__catalog {
    margin-bottom: 25px;
    display: flex;
    padding-top: 20px;
}

.shorts__catalog-filter {
    flex: 0 1 24%;
    border: #A04955 1px solid;
}

.shorts__catalog-filter-item {
    background-color: #fff;
    color: #000;
    border-color: #fff;
}

.shorts__catalog-h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    
}

.shorts__catalog-filter-btn {
    background-color: #fff;
    color: #000;
    letter-spacing: 5px;
}

.shorts__catalog-filter-btn:focus {
    background-color: #fff !important;
    color: #000 !important;
    border-color: #fff none !important;
    box-shadow: none;
}

.shorts__catalog-filter-btn:active {
    background-color: #fff !important;
    color: #000 !important;
    border: none !important;
}

.shorts__catalog-filter-item:focus {
    background-color: #fff !important;
    color: #000 !important;
    border: none !important;
}

.shorts__catalog-filter-item:active {
    background-color: #fff !important;
    color: #000 !important;
    border: none !important;
}

.shorts__catalog-h2>.accordion-button:not(.collapsed) {
    background-color: #fff !important;
    color: #000 !important;
    box-shadow: none;
}

.accordion-button::after {
    background-image: url(../img/right-arrow\ 7.png) !important;
}

.accordion-flush {
    background-color: #fff;
}

.filter-line {
    width: 90%;
    height: 1px;
    margin: 0 auto;
    background-color: #A04955;
}


.size-item {
    color: #000;
    text-decoration: none;
    background-color: #F1F1F1;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
    padding: 3px 10px;
    margin: 7px;
    display: inline-block;
}

.size-item:hover {
    color: #000;
    font-weight: 400;
    transform: scale(1.1);
}

.size-item:active {
    color: #000;
    font-weight: 300;
    transform: scale(1);
}

.color-item {
    text-decoration: none;
    line-height: 36px;
    padding: 3px 10px;
    margin: 7px;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.color-item:hover {
    border: #000 1px solid;
    transform: scale(1.1);
}

.color-item:active {
    color: #000;
    transform: scale(1);
}

.black {
    background-color: #000;
}
.brown {
    background-color: #744524;
}

.blue {
    background-color: #113EB1;
}

.green {
    background-color: #549554;
}

.grey {
    background-color: #808080;
}

.yellow {
    background-color: #E59500;
}

.white {
    background-color: #fff;
    border: #BCBCCC 1px solid;
}

.filter-bottoms-item label {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
    margin-left: 12px;
}



.pages {
    padding-bottom: 15px;
    position: relative;
    left: 91%;
    top: 0;
}

.pages a {
    border: #A04955 1px solid;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    padding: 1px 11px;
    text-decoration: none;
    color: #A04955;
    padding-bottom: 5px;

}

#arrow_next_page {
    padding: 1px 7px 5px 7px;
}

#arrow_next_page img {
    margin-bottom: 1px;
}

#arrow_1_page {
    background-color: #A04955;
    color: #C4C4C4;
}

li {
    position: relative;
}

.underline, .underline-white {

  text-decoration: none;
  position: relative;
  display: inline-block;
}

.underline::after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000;
    transition: width 0.4s ease 0s, left 0.4s ease 0s;
    width: 0;
  }

.underline-white::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.4s ease 0s, left 0.4s ease 0s;
    width: 0;
}

  .underline:hover::after { 
    width: 100%; 
    left: 0; 
  }

  .underline-white:hover::after { 
    width: 100%; 
    left: 0; 
  }