@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@200;400;500;700&display=swap');

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

._container {
    max-width: 1430px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
    position: relative;
}

/*-----------------NAVMENU---------------------*/
#navbar {
    background-color: #fff !important;
    position: relative;
    top: 20px;
}

.navbar-brand {
    margin: 0;
}

.search-input {
    background-image: url(../img/search.png);
    background-position: 13%;
    background-repeat: no-repeat;
    background-size: auto;
    border: 1px solid #A04955;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 54px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: rgba(120, 120, 120, 1);
    padding-left: 65px;
    width: 284px;
    transition: all 1s ease;
}

.search-input:hover {
    transform: scale(1.1);
    transition: all 1s ease;
}


@media screen and (max-width: 1125px) and (min-width: 993px) {
    .search-input {
        width: 147px;
    }
}

.nav-font {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgba(51, 51, 51, 1);
}

.navbar-ul {
    margin: 0 0 0 183px !important;
    min-height: 64px;
    align-items: center;
}

@media screen and (max-width: 1230px) and (min-width: 993px) {
    .navbar-ul {
        margin-left: 100px !important;
    }
}

@media screen and (max-width: 992px) {
    .d-flex {
        justify-content: center;
    }

    .nav-logo {
        width: 100%;
    }

    .navbar-ul {
        margin: 0 !important;
    }

    .nav-item {
        margin: 0 !important;
    }
}

.nav-item {
    margin: 0 45px 0 0;
    transition: all 1s ease;
}

.nav-item:hover {
    transform: scale(1.3);
    transition: all 1s ease;
}

.nav-item:active {
    transform: scale(0.9);
}

@media screen and (max-width: 1430px) and (min-width: 993px) {
    .nav-item {
        margin: 0 !important;
    }
}

/*------------header-title-------------------*/
.header__second-block {
    display: flex;
    margin-top: 70px;
}

.header__img {
    width: 100%;
    position: relative;
}

.header__img-white {
    border: 1px solid #A04955;
    position: absolute;
    top: 156px;
    left: 25px;
    height: 460px;
    width: 73%;

}

.header__img-rose {
    border: 1px solid #A04955;
    background-color: #A04955;
    height: 460px;
    width: 73%;
    margin: 0 0 0 23%;
}

.header__img-logo {
    position: absolute;
    top: 35px;
    left: 100px;
    width: 594px;
}

.header__img-logo img {
    width: 100%;
}

.header__title {
    width: 100%;
}

.header_h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 65px;
    color: #001F3D;
    line-height: 96px;
    margin-top: 138px;
    margin-right: 25%;
}

.header-subtitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #000;
    line-height: 32px;
    margin: 10px 0 30px 0;
}

#header__btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #000;
    background-color: #fff;
    padding: 9px 12px;
    line-height: 32px;
    text-decoration: none;
    border: #000 1px solid;
    display: inline-block;
    transition: all 1s ease;
}

#header__btn:hover {
    transform: scale(1.1);
    transition: all 1s ease;
}

#header__btn:active {
    transform: scale(0.9);
}

@media screen and (max-width:1300px) {
    .header__second-block {
        flex-wrap: wrap;
        margin: 0;
    }

    .header__title {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .header_h1 {
        margin: 0;
    }

    .header__img {
        display: none;
    }
}

@media screen and (max-width:870px) {
    .header__img-logo {
        width: 100%;
    }
}
/*----------------------------arrow------------*/

#arrow_home {
    position: absolute;
    z-index: 5;
    right: 12px;
    display: inline-block;
    bottom: -8px;
}

#arrow_home:hover {
    animation: kreep 0.8s ease .2s 1 alternate;
}
@keyframes kreep {
        0% {transform: scale(1.3,1);}
       50% {transform: scale(1,1.2) translateY(-.5rem)}
       70% {transform: scale(1.2);}
    }

    @media screen and (max-width:550px) {
        #arrow_home img {
            width: 60%;
        }
    }
/*----------------------------SALE----------------------------*/
#sale {
    background-color: #F1F1F1;
    margin-top: 240px;
}

@media screen and (max-width:1300px) {
    #sale {
        margin-top: 0;
    }
}

.sale__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sale__subtitle {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 36px;
    color: #333333;
    margin-top: 80px;
    line-height: 53px;
}

.sale__title {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 64px;
    color: #333333;
    margin-bottom: 23px;
    line-height: 94px;
}

.sale__card-container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 80px;
}

@media screen and (max-width: 1185px) {
    .sale__card-container {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card {
        margin-top: 20px;
    }
}

#card__product-img {
    padding: 32px 58px 5px 53px;
    width: 100%;
}

.card-body {
    padding-top: 0;
    text-align: center;
}

.card-title {
    padding: 0 13px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #333333;
    max-height: 30px;
}

.card-stars {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.card-stars img {
    padding: 0 2px;
}

.card-text {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 18px;
    text-align: center;
    line-height: 26px;
    margin-bottom: 15px;
}

#price {
    font-weight: 500;
}

.card-btn {
    background-color: #A04955;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    padding: 5px 5px 5px 30px;
    background-image: url(../img/basket_vector.png);
    background-position: 5px;
    background-repeat: no-repeat;
    margin-bottom: 26px;
    display: inline-block;
    transition: all 1s ease;
}

.card {
    transition: all 1s ease;
}

.card:hover {
    transform: scale(1.1);
    transition: all 1s ease;
}

.card-btn:hover {
    transform: scale(1.1);
    color: #fff;
    transition: all 1s ease;
}

.card-btn:active {
    transform: scale(0.9);
}

/*-----------------BESTSELLER-------------------*/
.bestseller__container {
    display: flex;
    margin-bottom: 140px;
}



.bestseller__img-rose {
    border: 1px solid #A04955;
    height: 465px;
    width: 571px;
    position: relative;
    left: 145px;
    top: 102px;
}

.bestseller__img-rose-2 {
    border: 1px solid #A04955;
    height: 465px;
    width: 571px;
    position: absolute;
    top: 258px;
    left: 29px;
}

.bestseller__container-logo {
    width: 660px;
    top: 90px;
    position: absolute;
    right: 2px;
}

.bestseller__img-logo {
    width: 100%;
}

.bestseller_h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 65px;
    color: #001F3D;
    line-height: 96px;
    margin-top: 49px;
    margin-bottom: 10px;
}

.bestseller-title-p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #000;
    line-height: 33px;
    margin-bottom: 30px;
}

#bestseller__btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #000;
    line-height: 32px;
    background-color: #fff;
    padding: 9px 12px;
    border: #000 1px solid;
    text-decoration: none;
    display: inline-block;
    transition: all 1s ease;
}

#bestseller__btn:hover {
    transform: scale(1.1);
    transition: all 1s ease;
}

#bestseller__btn:active {
    transform: scale(0.9);
}

.bestseller__img {
    width: 50%;
    position: relative;
}

.bestseller__title {
    width: 50%;
    padding: 100px;
}

@media screen and (max-width:1300px) {
    .bestseller__container {
        flex-direction: column-reverse;
    }

    .bestseller__title {
        text-align: center;
        padding: 0;
        width: 100%;
    }

    .bestseller_h1 {
        font-size: 58px;
    }

    .bestseller__img {
        width: 57%;
        position: relative;
        margin: 0 auto;
        height: 496px;
    }

    .bestseller__img-rose {
        display: none;
    }
    
    .bestseller__img-rose-2 {
    display: none;
    }
    
    .bestseller__container-logo {
        width: 91%;
    }
}

@media screen and (max-width:830px) {
    .bestseller__img {
        width: 75%;
    }
}

@media screen and (max-width:530px) {
    .bestseller__img {
        width: 100%;
        left: -30px;
    }
}
/*------------------EXAMPLES---------------------*/

#examples {
    padding-top: 107px;
    background-color: #E5E5E5;
}

.examples__container {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1170px) {
    .examples__container {
        flex-wrap: wrap;
    }
    .examples__card {
        margin: 0 auto;
    }
    
    .examples__img {
        width: 98%;
    }

}



.examples__card {
    background-color: #E5E5E5;
    border: none;
    
}

.examples__card-title {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 36px;
    color: #fff;
    background-color: #A04955;
    opacity: 0.8;
    position: relative;
    top: -87px;
    padding: 17px;
    line-height: 53px;
    width: 98%;
}

.examples__card-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    color: #000;
    padding: 0 5px;
    position: relative;
    top: -55px;
}

#examples__btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    text-decoration: none;
    padding: 5px 15px;
    border: solid 1px #000;
    color: #000;
    width: 69%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    position: relative;
    top: -50px;
    transition: all 1s ease;
}

#examples__btn:hover {
    transform: scale(1.1);
    transition: all 1s ease;
}

#examples__btn:active {
    transform: scale(0.9);
}



@media screen and (max-width:1300px) {
    #examples {
        margin-top: 207px;
    }
}
@media screen and (max-width: 600px) {
    .examples__card {
        width: 100%;
    }
    #examples__btn {
        font-size: 16px;
        text-align: center;
    }
    .examples__card-title {
        font-size: 24px;
    }
    .bestseller__container{
        margin-bottom: 0;
    }

    #examples {
        margin-top: 0;
    }
}
/*-----------------BACKGROUND----------------------*/

#background-img {
    background-image: url(../img/Rectangle\ 15.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.background__text {
    width: 35%;
    padding-bottom: 48px;
}

@media screen and (max-width: 1150px) {
    .background__text {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    
}

.background__title {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 65px;
    color: #fff;
    line-height: 96px;
}

.background__subtitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
}

#background__btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #fff;
    background-color: #A04955;
    text-decoration: none;
    padding: 5px 20px;
    display: inline-block;
    transition: all 1s ease;
}

#background__btn:hover {
    transform: scale(1.1);
    transition: all 1s ease;
}

#background__btn:active {
    transform: scale(0.9);
}

/*--------------------Trend------------------------*/
#trend {
    margin-top: 90px;
    
}
.trend {
    background-color: #A04955;
    text-align: center;
    padding-bottom: 200px;
}
.trend-container {
    text-align: center;
}

.trend__title {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 65px;
    color: #fff;
    line-height: 96px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.trend__cards {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: -203px;
}

@media screen and (max-width: 1185px) {
    .trend__cards {
        flex-wrap: wrap;
    }
    .trend__card {
        margin-top: 15px;
    }
}

.trend__card {
    background-color: #fff;
    width: 28%;
    border: 1px solid #A04955;
    min-width: 300px;
}

.trend__card-text {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #333;
    line-height: 35px;
    padding-bottom: 23px;
}

#trend__card-btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    background-color: #A04955;
    text-decoration: none;
    padding: 8px 0;
    width: 70%;
    display: inline-block;
    margin-bottom: 38px;
    max-height: 40px;
    transition: all 1s ease;
}

#trend__card-btn:hover {
    transform: scale(1.1);
    transition: all 1s ease;
}

#trend__card-btn:active {
    transform: scale(0.9);
}

.trend__card-img {
    padding-top: 15px;
    width: 50%;
}

/*---------familly business------------*/

.familly_business {
    margin-top: 90px;
    text-align: center;
    position: relative;
}
.familly_business-info {
    background-color: #F3F3F3;
    padding-top: 130px;
    margin: -130px 46px 46px 46px;
}

.familly_business-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 65px;
    color: #001F3D;
    line-height: 96px;
    margin-bottom: 20px;
}

.familly_business-subtitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: #000;
    margin-bottom: 35px;
}

#familly_business-btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #000;
    text-decoration: none;
    padding: 11px 73px;
    display: inline-block;
    margin-bottom: 43px;
    border: 1px solid #000000;
    transition: all 1s ease;
}

@media screen and (max-width:390px) {
    #familly_business-btn {
        font-size: 16px;
    }
}

#familly_business-btn:hover {
    transform: scale(1.1);
    transition: all 1s ease;
}

#familly_business-btn:active {
    transform: scale(0.9);
}

/*-----------------footer-----------------------*/

.footer__box {
    display: flex;
}

.footer__box-list {
list-style: none;
padding: 0;
}

.all_rights {
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    max-width: 1430px;
    margin: 10px auto;
    padding: 0 15px;
    box-sizing: content-box;
}

.footer__background {
    background-color: #A04955;
}

.footer__box-list-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 49px;
    color: #fff;
}

.footer__box-list>li:not(:first-child) {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #fff;
}

.footer__box-list>li>a {
    text-decoration: none;
    color: #fff;
}

.footer__box-item-first,
.footer__box-item-second,
.footer__box-item-third {
    flex: 0 1 19%;
}

input::placeholder {
    color: #A04955;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    
}

.margin_last_footer_item {
    margin-top: 35px;
}

.item_input {
    display: flex;
    margin-top: 20px;
}
#footer_btn {
    color: #fff;
    background-color: #A04955;
    border: #A04955;
    padding: 5px 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    width: 24%;
    margin-bottom: 9px;
    margin-left: -170px;
    margin-top: 9px;
    transition: all 1s ease;
}

#email_input {
    width: 77%;
    padding: 14px 0 14px 25px;
    color: #A04955;
}

@media screen and (max-width:1400px) {
    #footer_btn {
        margin: 0;
        border: #fff 1px solid;
    }
    #email_input {
        width: 36%
    }
}

#footer_btn:hover {
    transform: scale(1.1);
    transition: all 1s ease;
}

#footer_btn:active {
    transform: scale(0.9);
}

.footer__box li {
    transition: all 1s ease;
}


.footer__box-item-fourth {
    flex: 0 1 50%;
}

@media screen and (max-width:1100px) {
    .footer__box-item-first,
.footer__box-item-second,
.footer__box-item-third,
.footer__box-item-fourth {
    flex: 0 1 40%;
}

.footer__box{
    flex-wrap: wrap;
    justify-content: end;
}
}

@media screen and (max-width:768px) {
    .footer__box-item-first,
.footer__box-item-second,
.footer__box-item-third,
.footer__box-item-fourth {
    flex: 0 1 100%;
}
.footer__box{
    justify-content: center;
}
}
.hover>li:not(:first-child):hover {
    transform: scale(1.1);
    transition: all 1s ease;
}

.accordion-item, .accordion-button {
    background-color: #A04955 ;
    color: #fff;
}
.accordion-button:active {
    background-color: #A04955 !important;
    color: #fff !important;
    border-color: #fff 1px solid !important;
}

.accordion-button:focus {
    background-color: #A04955 !important;
    color: #fff !important;
    
}

.accordion-body ul {
    list-style: none;
}

.accordion-body>ul a {
    text-decoration: none;
    color: #fff !important;
}
