* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 5% 8% 0 8%;
}

input {
    display: block;
    padding: 10px;
    border-radius: 10px;
    font: 24px 'Times New Roman', Times, serif;
    background-color: #00E700;
    color: #5600F4;
    position: fixed;
    top: 42%;
    left: 42%;
    text-align: center;
    float: left;
}

input:active {
    background-color: #5600F4;
    color: #00E700;
}

.btn-diameter {
    width: 470px;
    position: fixed;
    top: 42%;
    left: 32%; 
}
::placeholder {
    color:#5600F4;
}

.btn-draw {
    position: fixed;
    top: 52%;
    left: 45%;
}

.circle {
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
}
