input {
    margin: 10px;
    display: block;
}

input:hover {
    cursor: pointer;
}

input:active {
    transform: scale(.9);
}

span {
    width: 150px;
    background-color: aqua;
    height: 60px;
    display: inline-block;
    padding: 10px;
}

#container_inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    width: 50px;
    height: 50px;
    margin: 100px auto;
    background-color: lightblue;
    transition: all 1s;
}

.big_hover {
    width: 150px;
    height: 150px;
    margin: 100px auto;
    background-color: yellow;
}

